@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
*{
    padding : 0 ;
    margin : 0 ;
    font-family: 'Quicksand', sans-serif;
}
body{
    background:linear-gradient(140deg,#C9ECFF,#C9ECFF);
}
header {
    background : white ;
    border-right: 0px solid rgba(0, 0, 0, 0.803);
    left : 0;
    top : 0 ;
    border-radius : 0px 20px 0px 0px;
    width: 275px;
    height: 100%;
}
nav ul{
    position : absolute ;
    text-decoration: none;
    margin-top : auto;
    margin-top : 40px;
    
    
}
nav ul li{
    position: relative;
    list-style: none;
    width: 100%;
    margin-top: 20px ;
    padding: 5px  10px;
    font-size: 24px;
}
 nav ul li a {
    position: relative;
    width:100%;
    text-align: center;
    text-decoration: none;
    color:black;
    
} 
#img{
    width: 242px;
    height: 200px;
    margin-top: -77px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: -35px;

}
section {
    position : absolute;
    margin-top : -650px ;
    margin-left: 790px ;
}
select{
    background-color: #1B96C4;
    color : white ;
    border : 0px ;
    width : 220px;
    height : 42px;
    border-radius : 10px ;
    text-align: center;
}
.icon2 {
    position : absolute;
    font-size: 1.6rem;
    margin-left : -32px;
    margin-top: 8px;
}
table{
    width : 80%;
    position : absolute ;
    margin-top : -600px ;
    margin-left : 310px;
}
.hv{
    position: absolute ;
    height: 80vh;
    display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left  : 650px ; 
  margin-top: -700px;
}






