<html lang="en">

<head>
    <meta name="description">
    <meta name="keywords" >
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OASIS MENTALE</title>
    <link rel="stylesheet" href="style_dash_sec.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap" rel="stylesheet">
</head>

<body>
    <header>  
            <nav class="sidebar">
                <ul>
                    <li>
                        <img src="../front/images/logo.png" id="img">
                        </li>
                        <li>
                            <a href="affR.php"><i class="bi bi-file-earmark"></i>&nbsp;Listes des <br> rendez-vous</a>
                        </li>
                        <li>
                            <a href="affC.php"><i class="bi bi-file-earmark"></i></i>&nbsp;Listes des <br> consultations</a>
                        </li>
                        <li>
                            <a href="affiche_res.php"><i class="bi bi-person-circle"></i>&nbsp;Liste des <br>reservations </a>
                        </li>
                        <li>
                            <a href="affiche_annonce.php"><i class="bi bi-person-circle"></i>&nbsp;Liste des <br>annonces </a>
                        </li>
                        <li>
                            <a href="ajout_annonces.html"><i class="bi bi-plus-lg"></i>&nbsp;Ajouter <br>une annonce </a>
                        </li>
                        <li>
                            <a href="statistique.php"><i class="bi bi-percent"></i>&nbsp;Statistique</a>
                        </li>
                            
                        </ul>
                    </nav>
                
            </div>
        </div>
    </div>
</header>
    <section id="add">
                    <i class="bi bi-bell icon2"></i>
                    <select name="pets" >
                        <option value="today">Aujourd'hui</option>
                    </select>
                    <br><br>
                    <div class="form" >
                        <form  action ="ajout_annonce.php" method="POST" onsubmit="return verif()">
                            
                            <label for="nom" style="font-weight : bold ;">Nom : </label><br>
                            <div><input type="text" name="nom" id="nom" placeholder="Entrer votre Nom" required style="width : 250px ; height:34px ; border: 0px ; border-radius : 8px " ><span id="nomalert" color="red"></span></div><br>
                            <label for="prenom" style="font-weight : bold ;">Prenom : </label><br>
                            <input type="text" name="prenom" id="prenom" placeholder="Entrer votre Prenom" required style="width : 250px ; height:34px ; border: 0px ; border-radius : 8px "><span id="prenomalert" color="red"></span><br><br>
                            <label for="ntel" style="font-weight : bold ;">Numero de telephone : </label><br>
                            <input type="text" name="ntel" id="ntel" placeholder="Entrer votre Numero" required style="width : 250px ; height:34px ; border: 0px ; border-radius : 8px " ><span id="ntelalert" color="red"></span><br><br>
                            <label for="hdeb" style="font-weight : bold ;">Heure de debut : </label><br>
                            <input type="text" name="hdeb" id="hdeb" placeholder="Entrer l'heure de debut :" required style="width : 250px ; height:34px ; border: 0px ; border-radius : 8px "><span id="hdebalert" color="red"></span><br><br>
                            <label for="hfin" style="font-weight : bold ;">Heure de fin  : </label><br>
                            <input type="text" name="hfin" id="hfin" placeholder="Entrer l'heure de fin :" required style="width : 250px ; height:34px ; border: 0px ; border-radius : 8px "><span id="hfinalert" color="red"></span><br><br><br>
                            <input type="submit" value="Ajouter" style="margin-left :50px; background-color : #1B96C4; width : 140px ; color : white ;height:32px ; border : 0px ; border-radius : 5px ; "></a>
                        </form>
                    </div>

    </section>
    
    <script>
        function verif(){
            
            var ch2 = document.getElementById("nom").value ;
            for (i = 0; i < ch2.length; i++) {
            if ((ch2.charAt(i).toUpperCase() < 'A') || (ch2.charAt(i).toUpperCase() > 'Z')) {
                document.getElementById("nomalert").innerHTML = "<span style='color:red'> Le nom doit etre alphabetique </span>";
            return false;
        }
        else {
            document.getElementById("nomalert").innerHTML = "<span style='color:green'> Correct</span>";
         }
    }   
            var ch1 = document.getElementById("prenom").value ;
                for (i = 0; i < ch1.length; i++) {
                if ((ch1.charAt(i).toUpperCase() < 'A') || (ch1.charAt(i).toUpperCase() > 'Z')) {
                    document.getElementById("prenomalert").innerHTML = "<span style='color:red'> Le prenom doit etre alphabetique </span>";
                    return false;
         }
         else {
            document.getElementById("prenomalert").innerHTML = "<span style='color:green'> Correct</span>";
         }
                    }
            num = document.getElementById("ntel").value ;
           if ((num.length!= 8) || (isNaN(num))){
            document.getElementById("ntelalert").innerHTML = "<span style='color:red'> Le num tel doit contient exactement 8 chiffres </span>";
                return false ;
            }
            else {
            document.getElementById("ntelalert").innerHTML = "<span style='color:green'> Correct</span>";
         }

            hdeb = document.getElementById("hdeb").value ;
            if (hdeb.charAt(2)!= ':'){
                document.getElementById("hdebalert").innerHTML = "<span style='color:red'> L'heure de debut doit etre de la format HH:MM</span>";
                return false ;
            }
            else {
            document.getElementById("hdebalert").innerHTML = "<span style='color:green'> Correct</span>";
         }
            hfin = document.getElementById("hfin").value ;
            if (hfin.charAt(2)!=':'){
                document.getElementById("hfinalert").innerHTML = "<span style='color:red'> L'heure de fin doit etre de la format HH:MM </span>";
                return false ;
            }
            else {
            document.getElementById("hfinalert").innerHTML = "<span style='color:green'> Correct</span>";
         }


        }
    </script>